<!-- Body Inner -->
<div class="body-inner">

    <!-- Header -->
    <header id="header" data-fullwidth="true">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a href="index.html">
                        <img src="assets/images/logo.png" class="logo-default">
                        <img src="assets/images/logo-sticky.png" class="logo-sticky">
                    </a>
                </div>
                <!--End: Logo-->

                <!--Header Extras-->
                <div class="header-extras">
                    <ul>

                        <li>
                            <div class="p-dropdown">
                                <a href="#"><i class="icon-globe"></i><span>EN</span></a>
                                <ul class="p-dropdown-content">
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger">
                    <a class="lines-button x"><span class="lines"></span></a>
                </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->
    <!-- Google Map -->
    <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">
        <!-- Slide 2 -->
        <div class="slide kenburns" style="background-image:url('assets/images/world-map-dark.png');">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <span class="strong">Où nous trouver</span>
                    <h1>Contact</h1>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->

    </div><!-- end: Google Map -->
    <!-- CONTENT -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12  text-center">
                    <h3 class="text-uppercase">Nous contacter</h3>
                    <p>Des idées, des recommandations, des observations, des réclamations, etc.?
                        Merci de nous laisser un message avec le plus de détails possible.</p>
                    <div class="row m-t-40">
                        <div class="col-lg-6">
                            <address>
                                <strong>Afrizon, Sarl.</strong><br>
                                HITBAMAS, Simbock, Yaoundé, Cameroun <br>
                                <abbr title="Phone">P: (+237) 676 609 192 </abbr>
                            </address>
                        </div>

                    </div>

                </div>
                <div class="col-lg-12">
                    <!-- Début de widget en ligne Calendly -->
                    <div class="calendly-inline-widget"
                        data-url="https://calendly.com/drksc/consultation?primary_color=ffb100"
                        style="min-width:320px;height:630px;"></div>
                    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
                    <!-- Fin de widget en ligne Calendly -->
                </div>
            </div>
        </div>
    </section> <!-- end: Content -->
    <app-footer></app-footer>
</div>
<!-- end: Body Inner -->
<!-- Scroll top -->
<app-scroll-top></app-scroll-top>