<div class="body-inner">
    <!-- Header -->
    <header id="header" data-fullwidth="true">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo"> <a routerLink="/home"><span class="logo-default">Afrizon</span><span
                            class="logo-dark">Afrizon</span></a> </div>
                <!--End: Logo-->
                <!--Header Extras-->
                <app-language></app-language>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->
    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">
        <!-- Slide 2 -->
        <div class="slide kenburns" style="background-image:url('assets/images/about/about.svg');">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <span class="strong">Qui sommes-nous?</span>
                    <h1>Aprops de nous</h1>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->

    </div>
    <!--end: Inspiro Slider -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="heading-text heading-section">
                        <h2>AFRIZON</h2>

                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            La Société Afrizon a pour objet, directement ou indirectement au Cameroun et à l’étranger : 
                            <br><br>
                            - Le marketing relationnel ;
                            <br><br>
                            - L’intermédiation et la mise en contact entre consommateurs-clients et professionnels ;
                            <br><br>
                            - L’accompagnement et le suivi entrepreneurial
                            <br><br>
                            - Et plus généralement, toutes opérations commerciales, financières, industrielles, techniques, mobilières ou immobilières se rattachant directement ou indirectement à l’objet ci-dessus ou à tous autres objets similaires ou connexes.
                        </div>

                        <div class="col-lg-6"><iframe src="https://player.vimeo.com/video/313730704?title=0&byline=0&portrait=0" 
                            height="301" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="box-fancy section-fullwidth text-light p-b-0">
        <div class="row">
            <div style="background-color:#917d5d" class="col-lg-4">
                <h1 class="text-lg text-uppercase">01.</h1>
                <h3>Grande Communauté</h3>
                <span>Grâces à notre équipe d'expert en marketing moderne et au fil du temps, nous avons développé et consolidé
                    notre réseau de client et sommes devenus le réseau de vente relationnel le plus vaste d'afrique. </span>
            </div>

            <div style="background-color:#a08c6c" class="col-lg-4">
                <h1 class="text-lg text-uppercase">02.</h1>
                <h3>Moins de Travail</h3>
                <span>Afrizon se charge du plus gros travail, celui de vendre vos produits grâce à son réseau et donc plus besoin 
                    de se soucier de cette tâches, juste assurer la disponibilité du stock.
                </span>
            </div>

            <div style="background-color:#ad9979" class="col-lg-4">
                <h1 class="text-lg text-uppercase">03.</h1>
                <h3>Une chance pour les PME</h3>
                <span>Chez Afrizon, que vous soyez une Multinationale ou juste un simple commercant, vous bénéficiez de notre réseau,
                    ce qui vous donne la chance d'augmenter votre chiffre d'affaire 
            </span>
            </div>
        </div>
    </section>

    
    <section>
        <div class="container">
            <div class="heading-text text-center">
                <h2>Témoignages!</h2>
                <p class="lead text-center">
                    Ils apprécient nos services.</p>
            </div>
            <!-- Testimonials -->
            <div class="carousel arrows-visibile testimonial testimonial-single testimonial-left" data-items="1">

                <!-- Testimonials item -->
                <div class="testimonial-item">
                    <img src="assets/images/team/male-23.jpg" alt="">
                    <p style="font-size: 15px;" >Priority of a store in the sale of sports equipment. The biggest concern in this sector 
                        is the right customers to sell the stock, multiple descents on the ground without results my brother decides to take
                         me to see it. CEO of AFRIZON. After a long explanation of my problem he decides to introduce me to the 
                         Afrizone network. Today I am gradually starting to have customers interested in my products.</p>
                    <span>Mr Andrew</span>
                    <span>CEO, The fitness Shop</span>
                </div>
                <!-- end: Testimonials item-->

                <!-- Testimonials item -->
                <div class="testimonial-item">
                    <img src="assets/images/team/female-30.jpg" alt="">
                    <p style="font-size: 15px;">Je detiens une parfemurie, il y a pas plus tard que 2 mois mon chiffre d'affaire était
                        approximativement de 120.000 FCFA/semaine depuis 2ans, j'ai cru longtemps que cela était impossible de faire plus
                        mais depuis mon entrée dans le réseau AFRIZON, je vends aujourd'hui pas moins de 340.000FCFA/semaine!</p>
                    <span>Mme Marion</span>
                    <span>Promotrice Mak's Beauty </span>
                </div>
                <!-- end: Testimonials item-->

                <!-- Testimonials item -->
                <div class="testimonial-item">
                    <img src="assets/images/team/male-32.jpg" alt="">
                    <p style="font-size: 15px;">Je suis propriétaire d’une boutique de vente d’appareil électronique au marché central de yaoundé depuis 6 ans.
                         Avant mon entrée à AFRIZON je réussissais déjà à générer des chiffres conséquents mais par curiosité j’ai voulu 
                         m’affilier au réseau. Je n’avais pas prévu que les ventes allaient triplé en seulement 3 mois. J’ai dû m’associer 
                         mes collègues afin de  satisfaire la demande car le réseaux de vente me permet de vendre dans au moins 5 villes. 
                    </p>
                    <span>Mr William Monre</span>
                    <span>Commerçant</span>
                </div>
                <!-- end: Testimonials item-->

            </div>
            <!-- end: Testimonials -->
        </div>
    </section>

   <app-footer></app-footer>
    <!-- end: Footer -->
</div> <!-- end: Body Inner -->
<!-- Scroll top -->
<app-scroll-top></app-scroll-top>