<!-- Body Inner -->
<div class="body-inner">
    <!-- Header -->
    <!-- Header -->
    <header id="header" data-transparent="true" class="dark submenu-light">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo"> <a routerLink="/home"><span class="logo-default">POLO</span><span
                            class="logo-dark">POLO</span></a> </div>
                <!--End: Logo-->
                <!--Header Extras-->
                <app-language></app-language>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->
    <!-- end: Header -->
    <!-- Page title -->
    <section id="page-title" class="text-light" data-bg-parallax="assets/images/parallax/6.jpg">
        <div class="container">
            <div class="page-title">
                <h1>Services</h1>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">Pages</a>
                    </li>
                    <li class="active"><a href="#">Services</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- end: Page title -->
    <section>
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2>What we do</h2>
                <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="fa fa-plug"></i></a>
                        </div>
                        <h3>Powerful template</h3>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="fa fa-desktop"></i></a>
                        </div>
                        <h3>Flexible Layouts</h3>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="fa fa-cloud"></i></a>
                        </div>
                        <h3>Retina Ready</h3>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="far fa-lightbulb"></i></a>
                        </div>
                        <h3>Fast processing</h3>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="fa fa-trophy"></i></a>
                        </div>
                        <h3>Unlimited Colors</h3>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="fa fa-thumbs-up"></i></a>
                        </div>
                        <h3>Premium Sliders</h3>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="background-grey">
        <div class="container">
            <div class="row carousel-description-clients carousel-description-style ">
                <div class="col-lg-4">
                    <div class="description">
                        <h2>Our Clients</h2> Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euis od urna non pharetra. Phasellus bland matt is ipsum, ac laoreet lorem lacinia et. interum sit amet dui.
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="carousel client-logos" data-items="4">
                        <div>
                            <a href="#"><img alt="" src="assets/images/clients/1.png">
                            </a>
                        </div>
                        <div>
                            <a href="#"><img alt="" src="assets/images/clients/2.png">
                            </a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="call-to-action background-image p-t-100 p-b-100" style="background-image:url(assets/images/parallax/7.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h3 class="text-light">Join by April 27 and <span>Win $200</span> in Programs and Services</h3>
                    <p class="text-light">This is a simple hero unit, a simple call-to-action-style component for calling extra attention to featured content.</p>
                </div>
                <div class="col-lg-2"> <a class="btn btn-light btn-outline">Call us now!</a> </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- end: Footer -->
</div> <!-- end: Body Inner -->
<!-- Scroll top -->
<app-scroll-top></app-scroll-top>