<!-- Body Inner -->
<div class="body-inner">

    <!-- Header -->
    <header id="header" data-transparent="true" class="dark submenu-light">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo"> <a href="index.html">
                        <span class="logo-default">POLO</span>
                        <span class="logo-dark">POLO</span></a> 
                </div>
                <!--End: Logo-->
                <!--Header Extras-->
                <app-language></app-language>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->

    <!-- end: Header -->
    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
        <!-- Slide 1 -->
        <div class="slide kenburns" data-bg-image="assets/images/slider/bg1.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>WELCOME TO THE WORLD OF POLO</h1>
                    <p>Say hello to the smartest and most flexible bootstrap template. Polo is an powerful template that
                        can build any type of websites, and quite possibly the only one you will ever need.</p>
                    <div><a href="#welcome" class="btn scroll-to">Explore more</a></div>

                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 1 -->
        <!-- Slide 2 -->
        <div class="slide" data-bg-image="assets/images/slider/bg2.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-left text-light">
                    <!-- Captions -->
                    <h1>220+ Laytout Demos</h1>
                    <p class="text-small">POLO is packed with 220+ pre-made layouts that allow you to quickly jumpstart
                        your project. Completely customizable for creating your own designs.</p>
                    <div><a href="#welcome" class="btn scroll-to">Explore more</a></div>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->
    </div>
    <!--end: Inspiro Slider -->

    <!-- WELCOME -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h4 class="m-b-10">Know More</h4>
                    <h2 class="m-b-10">About Our Company</h2>
                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh
                        id elit. Proin gravida nibh vel velit auctor Aenean sollicitudin, adipisicing elit sed lorem
                        quis bibendum auctor ibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                        Proin gravida nibh vel velit auctor Aenean sollicitudin, adipisicing elit sed lorem quis.
                    </p>
                    <a href="#" class="btn btn-dark"><span class="btn-label"><i class="fa fa-check"></i></span>Explore
                        more</a>
                </div>
                <div class="col-lg-6 offset-1 m-t-50">
                    <iframe src="https://player.vimeo.com/video/313730704?title=0&byline=0&portrait=0" width="500"
                        height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </section>
    <!-- end: WELCOME -->

    <!-- Call to action -->
    <section class="background-colored text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9r">
                    <h3 class="text-light">Like What You See? We’re Just Getting Started</h3><a
                        class="btn btn-light btn-outline btn-rounded">Purchase POLO</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end: Call to action -->


    <section>
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2>What we do</h2>
                <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="far fa-lightbulb"></i></a>
                        </div>
                        <h3>Fast processing</h3>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor
                            cursumus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="fa fa-trophy"></i></a>
                        </div>
                        <h3>Unlimited Colors</h3>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor
                            cursumus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="fa fa-thumbs-up"></i></a>
                        </div>
                        <h3>Premium Sliders</h3>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor
                            cursumus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-partner></app-partner>

    <app-footer></app-footer>
</div>
<!-- end: Body Inner -->

<!-- Scroll top -->
<app-scroll-top></app-scroll-top>