<!-- Body Inner -->
<div class="body-inner">

    <!-- Header -->
    <header id="header" data-transparent="true" class="dark submenu-light">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo"> <a href="index.html">
                        <span class="logo-default">Afrizon</span>
                        <span class="logo-dark">Afrizon</span></a> 
                </div>
                <!--End: Logo-->
                <!--Header Extras-->
                <app-language></app-language>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->

    <!-- end: Header -->
    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
        <!-- Slide 1 -->
        <div class="slide kenburns" data-bg-image="assets/images/slider/5f72511751e16.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>BIENVENUE SUR AFRIZON</h1>
                    <p>Le commerce général relationnel le plus révolutionnaire du 21e siècle .</p>
                    <div><a routerLink="/about" class="btn scroll-to"> A propos</a></div>

                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 1 -->
        <!-- Slide 2 -->
        <div class="slide" data-bg-image="assets/images/slider/5f72527edfc7e.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>RESEAUX DE VENTE AFRICAIN</h1>
                    <p class="text-small">Elargissez votre réseau de vente à travers l'afrique.</p>
                    <div><a routerLink="/service" class="btn scroll-to"> Services </a></div>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->
    </div>
    <!--end: Inspiro Slider -->

    <!-- WELCOME -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h4 class="m-b-10">Description</h4>
                    <h2 class="m-b-10">A propos d'Afrizon </h2>
                    <p>Afrizon est une entreprise de commerce général africaine basée au cameroun offrant la possibilité 
                        de mettre en relation individuelle, nominative, continue et personnalisée des producteurs ou professionnel
                        directement avec des consommateurs
                    </p>
                    <a routerLink="/about" class="btn btn-dark"><span class="btn-label"><i class="fa fa-check"></i></span> A propos
                        </a>
                </div>
                <div class="col-lg-6 offset-1 m-t-50">
                    <iframe src="https://player.vimeo.com/video/313730704?title=0&byline=0&portrait=0" width="500"
                        height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </section>
    <!-- end: WELCOME -->

    <!-- Call to action -->
    <section class="background-colored text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9r">
                    <h3 class="text-light">Débutez l'aventure avec nous <span class="iconify" data-icon="emojione-v1:smiling-face-with-sunglasses" data-inline="false"></span> </h3>
                    <a routerLink="/contact" class="btn btn-light btn-outline btn-rounded">Prise de rendez-vous</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end: Call to action -->


    <section>
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2>Pourquoi nous choisir?</h2>
                <p>Notre priorité, la satisfaction du commerçant et du consommanteur.</p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="far fa-lightbulb"></i></a>
                        </div>
                        <h3>Grande Communauté</h3>
                        <p>Base de clients acheteurs beaucoup plus importante que celle trouvée sur une autre plateforme africaine</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="fa fa-trophy"></i></a>
                        </div>
                        <h3>Moins de Travail</h3>
                        <p>Lorsque vous vous associez avec AFRIZON, votre tâches la plus importante devient tout juste d'assurer la 
                            Disponibilité du stock.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="fa fa-thumbs-up"></i></a>
                        </div>
                        <h3>Une chance pour les PME</h3>
                        <p>A la différence d'autres réseaux, chez Afrizon, même les pétits commerçants peuvent s'affilier au réseaux.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-partner></app-partner>

    <app-footer></app-footer>
</div>
<!-- end: Body Inner -->

<!-- Scroll top -->
<app-scroll-top></app-scroll-top>