<!-- Footer -->
<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="icon-box effect small clean">
                        <div class="icon">
                            <a href="#"><i class="icon-clock"></i></a>
                        </div>
                        <h3>Horaire de Travail </h3>
                        <p><strong>Lundi - Vendredi</strong>
                            <br>08:00 - 16:00 PM</p>
                        <p><strong>Samedi</strong>
                            <br>09:00 - 13:00</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box effect small clean">
                        <div class="icon">
                            <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                        </div>
                        <h3>Localisation</h3>
                        <p><strong>Address:</strong>
                            <br> Cameroun, Yaoundé, Simbock, HITBAMAS 
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box effect small clean">
                        <div class="icon">
                            <a href="#"><i class="icon-phone"></i></a>
                        </div>
                        <h3>Contact</h3>
                        <p><strong>Phone:</strong>
                            <br> (123) 456-7890
                            <br> (987) 654-3210
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2019 POLO - Responsive Multi-Purpose HTML5 Template. All
                Rights Reserved.<a href="//www.inspiro-media.com" target="_blank" rel="noopener"> INSPIRO</a> </div>
        </div>
    </div>
</footer>
<!-- end: Footer -->