<!-- CLIENTS -->
<section>
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h2>NOS CLIENTS</h2>
            <span class="lead">Our awesome clients we've had the pleasure to work with! </span>
        </div>

        <ul class="grid grid-5-columns">
            <li>
                <a href="#"><img src="assets/images/clients/1.png" alt="">
                </a>
            </li>
            <li>
                <a href="#"><img src="assets/images/clients/2.png" alt="">
                </a>
            </li>
            
        </ul>

    </div>
</section>
<!-- CLIENTS -->